@import "tailwindcss";


@theme {
  --breakpoint-xs: 380px;
}

*{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



body {
  scrollbar-width: thin;
  scrollbar-color: #A800B7 #FDF4FF;
}


::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}


::-webkit-scrollbar-track {
  background: #FDF4FF; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A800B7; 
  border-radius: 10px;
  border: 3px solid #FDF4FF; 
}

::-webkit-scrollbar-thumb:hover {
  background: #A800B7; 
}